SetEnv wsgi_max_requests 1
# Options +FollowSymLinks -MultiViews
RewriteEngine On

# Internally forward /Page/abc123 to /page.cfm?pagevar=abc123
# RewriteRule ^Page/(.*)/?$ /page.cfm?pagevar=$1 [QSA,NC,L]

# Internally forward /Page/abc123 to /page.cfm?pagevar=abc123
RewriteRule ^([a-z/]*)/?$ /django-test/wsgi.py/$1 [QSA,NC,L]
